In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tyukalinsk,RU,2020-05-25 21:19:23,55.87,72.20,74.68,48,65,16.51
1,1,Port Alfred,ZA,2020-05-25 21:19:23,-33.59,26.89,61.00,44,3,11.99
2,2,Kapaa,US,2020-05-25 21:19:24,22.08,-159.32,84.99,74,1,5.82
3,3,Mataura,NZ,2020-05-25 21:19:24,-46.19,168.86,45.34,90,100,2.35
4,4,Busselton,AU,2020-05-25 21:19:24,-33.65,115.33,48.99,95,92,10.51

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key. (Only need to do this once)
gmaps.configure(api_key=g_key)

In [5]:
# CREATE HEATMAP

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable. (Here using a list comprehension instead of a for loop)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Readjust size
# First, add the geographic center of Earth in the form of latitude and longitude 
# (30.0° N and 31.0° E). Also, add a zoom level so that only one map of Earth is shown.

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
# Assign the heatmap variable. (Here using a list comprehension instead of a for loop)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Kapaa,US,2020-05-25 21:19:24,22.08,-159.32,84.99,74,1,5.82
13,13,Tual,ID,2020-05-25 21:19:26,-5.67,132.75,81.00,82,56,17.94
16,16,Labrea,BR,2020-05-25 21:19:27,-7.26,-64.80,84.04,65,78,1.72
21,21,San Patricio,MX,2020-05-25 21:19:27,19.22,-104.70,78.80,69,5,11.41
41,41,Poso,ID,2020-05-25 21:19:34,-1.40,120.75,80.37,69,95,1.99
45,45,Cerrito,CO,2020-05-25 21:19:36,6.84,-72.69,80.60,69,40,5.82
46,46,Georgetown,MY,2020-05-25 21:19:36,5.41,100.34,82.40,94,20,3.36
47,47,Sibolga,ID,2020-05-25 21:19:37,1.74,98.78,78.10,79,81,3.51
51,51,Albany,US,2020-05-25 21:19:38,42.60,-73.97,79.00,46,49,8.52
52,52,Hilo,US,2020-05-25 21:19:39,19.73,-155.09,78.80,65,90,9.17

In [26]:
# Determine if there are any null values.
preferred_cities_df.count()

City_ID       190
City          190
Country       190
Date          190
Lat           190
Lng           190
Max Temp      190
Humidity      190
Cloudiness    190
Wind Speed    190
dtype: int64

In [28]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
2          Kapaa      US     84.99  22.08 -159.32
13          Tual      ID     81.00  -5.67  132.75
16        Labrea      BR     84.04  -7.26  -64.80
21  San Patricio      MX     78.80  19.22 -104.70
41          Poso      ID     80.37  -1.40  120.75
45       Cerrito      CO     80.60   6.84  -72.69
46    Georgetown      MY     82.40   5.41  100.34
47       Sibolga      ID     78.10   1.74   98.78
51        Albany      US     79.00  42.60  -73.97
52          Hilo      US     78.80  19.73 -155.09

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [35]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [36]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Kapaa,US,84.99,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
13,Tual,ID,81.00,-5.67,132.75,Grand Vilia Hotel
16,Labrea,BR,84.04,-7.26,-64.80,Hotel Novo Horizonte
21,San Patricio,MX,78.80,19.22,-104.70,Hotel Cabo Blanco
41,Poso,ID,80.37,-1.40,120.75,Hotel 77 Poso
45,Cerrito,CO,80.60,6.84,-72.69,Finca Lulu
46,Georgetown,MY,82.40,5.41,100.34,Cititel Penang
47,Sibolga,ID,78.10,1.74,98.78,Hotel Syariah CN Darussalam
51,Albany,US,79.00,42.60,-73.97,
52,Hilo,US,78.80,19.73,-155.09,Hilo Hawaiian Hotel

In [39]:
hotel_df.isnull().sum()

City          0
Country       0
Max Temp      0
Lat           0
Lng           0
Hotel Name    0
dtype: int64

In [46]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [50]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))