In [1]:
# Import the dependencies.
import pandas as pd
import numpy as np
from citipy import citipy
import gmaps
import requests
from datetime import datetime
import time
# Import the API key.
from config import weather_api_key
from config import g_key

gmaps.configure(api_key=g_key)

In [2]:
# 3) Import the WeatherPy_vacation.csv file as a new DataFrame.

vacation_df = pd.read_csv("data/WeatherPy_vacation.csv", index_col=0)
vacation_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,Hithadhoo,MV,83.91,light rain,-0.60,73.08,Scoop Guest House
34,Albany,US,84.00,light rain,42.60,-73.97,NaN
50,Alappuzha,IN,82.98,light rain,9.49,76.33,Ramada by Wyndham Alleppey
60,Nautla,MX,84.83,moderate rain,20.22,-96.78,Casa Blanca
69,Mahina,PF,77.00,light rain,-17.51,-149.49,Guest Beach Bungalow Tahiti

In [3]:
# 4) From the vacation search map, choose at least four cities in close proximity on your map 
# that are on the same continent that a customer might travel to, and then create a directions layer map.

# Picking: Lahan, NP. Mawlaik, MM. Tuy Hoa, VN. Kampong Chhnang, KH.

lahan_df=vacation_df.loc[(vacation_df["City"]=="Lahan") & (vacation_df["Country"]=="NP")]
lahan_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
384,Lahan,NP,79.74,light rain,26.73,86.5,Hotel Durbar Pvt. Ltd.

In [4]:
mawlaik_df=vacation_df.loc[(vacation_df["City"]=="Mawlaik") & (vacation_df["Country"]=="MM")]
mawlaik_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
450,Mawlaik,MM,76.59,light rain,23.63,94.42,AKZ Guest House

In [5]:
tuy_hoa_df=vacation_df.loc[(vacation_df["City"]=="Tuy Hoa") & (vacation_df["Country"]=="VN")]
tuy_hoa_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
386,Tuy Hoa,VN,79.77,light rain,13.08,109.3,CenDeluxe Hotel Tuy Hoa

In [6]:
kampong_chhnang_df=vacation_df.loc[(vacation_df["City"]=="Kampong Chhnang") & (vacation_df["Country"]=="KH")]
kampong_chhnang_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
108,Kampong Chhnang,KH,79.7,light rain,12.17,104.55,រមណីយដ្ឋាន ទឹកធ្លាក់ស្រែអំពិល

In [7]:
# Get latitude longitude pairs

lahan_lat=lahan_df.iloc[0]["Lat"]
lahan_lng=lahan_df.iloc[0]["Lng"]

lahan=(lahan_lat,lahan_lng)
lahan

(26.73, 86.5)

In [8]:
mawlaik_lat=mawlaik_df.iloc[0]["Lat"]
mawlaik_lng=mawlaik_df.iloc[0]["Lng"]

mawlaik=(mawlaik_lat,mawlaik_lng)


tuy_hoa_lat=tuy_hoa_df.iloc[0]["Lat"]
tuy_hoa_lng=tuy_hoa_df.iloc[0]["Lng"]

tuy_hoa=(tuy_hoa_lat,tuy_hoa_lng)


kampong_chhnang_lat=kampong_chhnang_df.iloc[0]["Lat"]
kampong_chhnang_lng=kampong_chhnang_df.iloc[0]["Lng"]

kampong_chhnang=(kampong_chhnang_lat,kampong_chhnang_lng)

print(type(lahan))
print(type(mawlaik))
print(type(tuy_hoa))
print(type(kampong_chhnang))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [9]:
fig = gmaps.figure(center=(20,100),zoom_level=4.3)

lahan2kampong_chhnang_via_mawlaik_and_tuy_hoa = gmaps.directions_layer(lahan, kampong_chhnang, waypoints=[mawlaik,tuy_hoa], travel_mode="DRIVING")

fig.add_layer(lahan2kampong_chhnang_via_mawlaik_and_tuy_hoa)

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 6) Save previous fig.
# 7) Create a marker layer map for the four cities.

# Create df of the four cities:

preferred_cities = [lahan_df, mawlaik_df, tuy_hoa_df, kampong_chhnang_df]

itinerary_df=pd.concat(preferred_cities)

itinerary_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
384,Lahan,NP,79.74,light rain,26.73,86.50,Hotel Durbar Pvt. Ltd.
450,Mawlaik,MM,76.59,light rain,23.63,94.42,AKZ Guest House
386,Tuy Hoa,VN,79.77,light rain,13.08,109.30,CenDeluxe Hotel Tuy Hoa
108,Kampong Chhnang,KH,79.70,light rain,12.17,104.55,រមណីយដ្ឋាន ទឹកធ្លាក់ស្រែអំពិល

In [11]:


info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]


fig = gmaps.figure(center=(20,100),zoom_level=4.3)

locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))